<div id="login-wrapper" class="container">
    <main class="user-login">
        <div class="form-container">

        <h1> Hello! </h1>
        <p> Before we can start counting... </p>
        <p>who are you?</p>
        <input type="text" name="username" placeholder="Cool username here">
        <%= link_to "Let's go!", rooms_path %>
        </div>
    </main>
    <footer class="user-footer">
       <p> About this app </p>
    </footer>
</div>