<div id="index-wrapper" class="container">
    <header>
        <div class="with-searchbox">
            <h2>Choose your room</h2>
            <input type="text" name="searchbox" placeholder="Search a room name">
        </div>
    </header>

    <ul class="room-list">
        <% @rooms.each do |room| %>
            <ol class="room">
                <div class="name">
                    <%= link_to '' + room.name , room %>
                </div>
                <div class="users">
                    <p>0</p>
                    <i>D</i>
                </div>
            </ol>
            <% end %>
    </ul>

    <td>
    </td>

    <footer class="footer-menu">
        <ul class="menu">
            <li>
                <%= link_to 'Add room', new_room_path %>
            </li>
            <li class="home">
                <%= link_to 'Home', root_path %>
            </li>
        </ul>
    </footer>
</div>