<% provide(:title, "Room List") %>

<%= render 'common/header', header_title: "Choose your room", with_searchbar: true, with_max: false %>
<div id="index-wrapper" class="container">
    <ul class="room-list">
        <% @rooms.each do |room| %>
            <ol class="room">
                <div class="name">
                    <%= link_to '' + room.name , room %>
                </div>
                <div class="users">
                    <p>0</p>
                    <div class="user-img">
                        <%= image_tag("users-p.png", :alt => "Users icon") %>
                    </div>
                </div>
            </ol>
            <% end %>
    </ul>
</div>
<%= render 'common/footer', back_to: false, add_room: true, show_users: false %>