<header>
    <div class="with-searchbox">
        <h2>About us</h2>
    </div>
</header>

<div id="about-wrapper" class="container">

    <div class="antonio creator">
        <div class="face">
            <img src="" alt="">
        </div>
        <aside class="content">
            <h2>Antonio Djigo</h2>
            <p>Description</p>
            <ul>
                <li>Social</li>
                <li>Social</li>
            </ul>
        </aside>
    </div>

     <div class="marta creator">
        <div class="face">
            <img src="" alt="">
        </div>
        <aside class="content">
           <h2>Marta Hollingsworth</h2>
            <p>Description</p>
            <ul>
                <li>Social</li>
                <li>Social</li>
            </ul>
        </aside>

    </div>
    <footer class="footer-menu">
        <ul class="menu">
            <li class="home">
                <%= link_to 'Home', root_path %>
            </li>
        </ul>
    </footer>
</div>