<header>
    <div class="with-searchbox">
        <h2>About us</h2>
    </div>
</header>

<div id="about-wrapper" class="container">

    <div class="antonio creator">
        <div class="face">
            <img src="" alt="">
        </div>
        <aside class="content">
            <h2>Antonio Djigo</h2>
            <p>Web developer, loves beer, party and travelling</p>
            <ul class="social-links">
                <li class="instagram"><a href="#"><i>ig </i>@djigo.io</a></li>
                <li class="twitter"><a href="#"><i>tw </i>@brownio_</a></li>
            </ul>
        </aside>
    </div>

     <div class="marta creator">
        <aside class="content">
           <h2>Marta Hollingsworth</h2>
            <p>UX/UI Designer, loves music, beer and sunsets</p>
            <ul class="social-links">
                <li class="instagram"><a href="#"><i>ig </i>@mholl_</a></li>
                <li class="twitter"><a href="#"><i>tw </i>@ealyn_</a></li>
            </ul>
        </aside>
             <div class="face">
            <img src="" alt="">
        </div>

    </div>
</div>
    <footer class="footer-menu">
        <ul class="menu">
            <li class="home">
                <%= link_to 'Home', root_path %>
            </li>
        </ul>
    </footer>