@import './colors';
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color_2;
    background: linear-gradient(135deg, $color_1 0%, $color_2 100%);
    box-shadow: 0px 0px 10px #0000004D;
    min-height: 188px;
}

.with-searchbox {
    input {
        margin: 0;
    }
}

h2 {
    text-align: center;
    color: $color_0;
    font-weight: 300;
}