@import './colors';
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color_2;
    background: linear-gradient(135deg, $color_2 0%, $color_1 100%);
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px #0000004D;
    min-height: 188px;
    h2 {
        text-align: center;
        color: $color_0;
        font-weight: 300;
    }
}