@import './colors';
#room-creator {
    height: 100%;
    form {
        padding: 0 15px;
        height: 100%;
        p {
            input {
                width: 100%;
                &[type='button'] {}
            }
            &.accepts-negatives {
                display: grid;
                grid-template-columns: 1fr 0px .2fr;
                align-items: center;
                input[type="checkbox"] {
                    height: 30px;
                }
            }
            &.create-button {
                margin-top: 80px;
                input[type="submit"] {
                    padding: 20px;
                    font-weight: bold;
                    border: 1px solid $color_2;
                    background: $color_1;
                    color: $color_0;
                }
            }
        }
    }
}