// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './colors';
#about-wrapper {
    max-width: 550px;
    margin: auto;
    .creator {
        display: grid;
        align-items: center;
        margin: 0 10px 0 10px;
        .face {
            display: flex;
            justify-content: center;
            max-width: 120px;
            img {
                width: 120px;
                max-width: 100%;
                height: auto
            }
        }
        .content {
            margin: 0 16px;
            text-align: center;
            h2 {
                color: $color_1;
                font-weight: 400;
                font-size: 17px;
            }
            p {
                font-size: 14px;
                font-weight: 100;
                max-width: 180px;
            }
            .social-links {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                list-style: none;
                li {
                    margin: 0 6px;
                    a {
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: 100;
                        img {
                            width: 10px;
                            height: auto;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        &.antonio {
            grid-template-columns: 120px 1fr;
            margin-bottom: 47px;
        }
        &.marta {
            grid-template-columns: 1fr 120px;
        }
    }
}