// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Livvic:200,300,400,500,600|Roboto+Slab:100,400&display=swap');
@import './users';
@import './room-selector';
@import './room-creator';
@import './colors';
@import './footer';
@import './header';
* {
    font-family: 'Livvic', sans-serif;
    color: $color_1;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

.title {
    font-size: 30px;
}

.subheader {
    font-size: 20px;
}

input {
    margin-bottom: 30px;
    background: #F6F6F640 0% 0% no-repeat padding-box;
    border: none;
    border-bottom: 2px solid $color_0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #EFEFEF;
    font-size: 15px;
    width: 100%;
    &::placeholder {
        color: #EFEFEF;
    }
}

.caption {
    font-size: 10px;
}

button {
    font-size: 17px;
}

p {
    font-size: 20px;
}