        <footer class="footer-menu">
            <ul class="menu">
                <li>
                    <%= link_to 'Add room', new_room_path %>
                </li>
                <li class="home">
                    <%= link_to 'Home', root_path %>
                </li>
            </ul>
        </footer>