<footer class="footer-menu">

    <% if add_room %>
        <button>
        <%= link_to new_room_path  do%>
            <%= image_tag("add.png", :alt => "Add room icon") %>
        <% end %>
        </button>
    <% end %>

        <% if show_users %>
        <button id="show-list">
            <%= image_tag("users.png", :alt => "Show users list") %>
        </button>
    <% end %>

</footer>