<header>
    <div class="with-searchbox">
        <h2><%= header_title %></h2>
        <% if with_searchbar %>
            <input type="text" name="searchbox" placeholder="Search a room name">
        <% end %>
    </div>
</header>
